#header-container {
  position: fixed;
  background-color: #20232a;
  background: solid;
  top: 0;
  width: 100%;
  padding: 0;
  height: 5vh;
  padding: 0.5vh;
}
img {
  height: 100%;
  width: auto;
}
